<html>
<head>
<title>مدرسه تکمیلی</title>
<link type="text/css" rel="stylesheet" href="\css\index.css" />
</head>
<body>
<div id="container">
  <div id="sitetitle">
    <h1><a href="#">پروژه درس مدرسه تکمیلی</a></h1>
    <h2>مثلا stack over flow</h2>	
	
	
  </div>
  <div id="menu"> <a href="index.html">خانه</a> <a href="#">آرشیو</a> <a href="newpost.html">افزودن پست </a> <button><a 
    href="login.cshtml"
   >ورود به سامانه</a></button></div> 

  <div id="content">
    <div id="left">
      <div class="entry">
        <h2><a href="#"> عنوان سوال :	</a></h2>
        <h2><a href="#">چرا ؟</a></h2>
        <img class="entryphoto" src="images/entryphoto.png" width="150" height="213" alt="Entry photo example" />
		<p style="margin-right:100px"></p>
        <h3>متن</h3>
        <p class="meta"><span class="date">تاریخ</span> ارسال شده توسط : و تعداد کامنت ها :</p>
      </div>
     
    </div>
    <div id="right">
      <h2>هوش کسب‌وکار</h2>
	  <p class="intro"> هوشمندی کسب و کار ( Business Intelligence) یا هوش تجاری، مجموعه‌ای از نظریات، روش‌ها، فرایندها، معماری‌ها و فناوری‌هایی است که برای تبدیل داده خام به اطلاعات مفید و معنادار استفاده می‌شود.[۱] هوش کسب و کار مقادیر بزرگی از اطلاعات را برای شناسایی و توسعه فرصت‌های جدید بکار می‌گیرد. بهره بردن از فرصت‌های جدید و اعمال یک استراتژی اثربخش می‌تواند مزیت بازار رقابتی و پایداری بلندمدت به ارمغان بیاورد.</p>
	  
    </div>
    <div id="footer">
      
      تهیه شده توسط مهدی و رفقا</a> </div>
  </div>
</div>
</body>
</html>
